<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>OBP Newsletter</title>
  <script src="scripts/query.min.js"></script>
  <script src="scripts/angular.min.js"></script>
  <script src="scripts/angular-route.js"></script>
  <script src="scripts/OBPcontroller.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/definition.css"/>

</head>

<body ng-app="Newsletter">
  <div id="container">
    <div id="namePlate">
      <div id="header" class="clear">
        <h1><img src="img/Newsletter.png"></h1>
      </div>
    </div>
    <div id="menu">
      <ul ng-controller="listSelect">
        <li ng-repeat="item in menu" ng-click="select($index)" ng-class="{active: $index == selected}">
          <a href="#{{item.name}}">{{item.name}}</a>
        </li>
      <li style="float:right"><a href="/home/signup">Sign Up</a></li>
      </ul>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <div id="output">
      <div class="ngviewback" ng-view></div>
    </div>
    <div ng-controller="ExtractDataFromArticle">
      <table border="1">
				<tr>
					  <th>Article</th>
					  <th>title</th>
					  <th>Author</th>
					  <th>Category</th>
					  <th>upload_date</th>
				</tr>
				<tr ng-repeat="article in articles">

					  <td><span>{{article.article_id}}</span></td>
					  <td><span>{{article.title}}</span></td>
					  <td><span>{{article.author}}</span></td>
					  <td><span>{{article.category}}</span></td>
					  <td><span>{{article.upload_date}}</span></td>
				</tr>
			</table>
    </div>
  </div>
</body>
</html>
